header
	display block
	background =#A054A2
	padding 10px 0px
	padding-top 150px
	
section
	width 100%
	background #8C5592
	float left
	overflow auto
	padding-top 0px
	
article
	float left
	background #0E159E
	width 30%
	border 2px solid black
	padding-top 300px
	

article1
	float left
	background #93620E
	width 30%
	border 2px solid black
	padding-top 300px
	
aside 
	float right
	border 1px solid black
	width 39.1%
	border 2px solid black
	background #0D7C45
	padding-top 902px
	
aside1
	float left
	border 1px solid black
	width 60.3px
	border 2px solid black
	background #B41313
	padding-top 580px
	
footer
	position relative
	margin-top -580px
	heigth 40px
	padding 5px 0px
	clear both
	background #A9A3A3
	text-aling center
	color #fff
	
button
	float center
	border 0px 
	width 29%
	background #E3D6D6
	padding-top 20px

	



